/* CSS Document */
body #topbar {
   background-color: #6a8fbd;
	color: #FFFFFF;
   width: 100%;
    height: 46px;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
	border-width: 0px;
}

body #bottombar {
   background-color: #6a8fbd;
	color: #FFFFFF;
   width: 100%;
    height: 46px;
    padding: 0px;
    position: fixed;
    bottom: -46px;
    left: 0px;
    z-index: 1000;
	border-style: solid;
  border-color: #EEEEEE;
}

body #titlebar {
    background-color: #DDDDDD;
	width: 100%;
    height: 36px;
    padding: 0px;
    position: fixed;
    top: 46px;
    left: 0px;
    z-index: 1000;
	border-style: solid;
  border-color: #EEEEEE;
}

table.mainIndexTable {
	border-width: 0px;
}

div.maiwindow {
    background-color: #FFFFFF;
	width: 100%;

    padding: 0px;
    position: fixed;
    top: 92px;
    left: 0px;
    z-index: 1;
	border: 0px;
}
div.toplinkbox {
   background-color: #6a8fbd;
	width: 80px;
    height: 46px;
    padding: 0px;
    z-index: 2;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 400;
	color: #EEEEEE;
	font-size:18px;
	vertical-align:bottom;
	position: absolute;
}
div.toplinkboxSel {
   background-color: #FFFFFF;
	width: 80px;
    height: 46px;
    padding: 0px;
    z-index: 2;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 400;
	color: #6a8fbd;
	font-size:18px;
	vertical-align:bottom;
	position: absolute;
}
div.addtrackbox {
   background-color: #DDDDDD;
	color: #FFFFFF;
	width: 300px;
    height: 146px;
    padding: 0px;
    z-index: 3;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 400;
	color: #EEEEEE;
	font-size:28px;
	vertical-align:bottom;
	display: inline;
	position: relative; top: 0px; left: -140px;
}
table.window {
  border-width: 1px;
  border-color: #888888;
  border-style: solid;
  background-color: #FFFFFF;

  font-weight:bold;
  color: #444444;
}
table.statTable {
  background-color: #FFFFFF;
  font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 400;
	color: #EEEEEE;
	font-size:18px;

}
table.addTrackTable {
  border-width: 1px;
  border-color: #888888;
  border-style: solid;background-color: #FFFFFF;
  font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 400;
	color: #EEEEEE;
	font-size:16px;

}
table.tracksTable {
  font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 400;
	color: #EEEEEE;
	font-size:12px;

}
table.subAddTrackTable {
	border-width: 1px;
	border-color: #888888;
	border-style: solid;
	font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 400;
	color: #EEEEEE;
	font-size:16px;
}

img.thickline {
  border-width: 20px;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

img.mediumline {
  border-width: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: #EEEEEE;
}

img.smallline {
  border-width: 5px;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: #EEEEEE;
}

img.thinline {
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: #EEEEEE;
}

img.zoombar {
  border-width: 0px;
  background-color: #AAAAAA;
}

img.selZoombar {
  border-width: 0px;
  background-color: #444444;
}

img.selectedFlag {
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	opacity:1.0;
border-width: 5px;
  border-color: #AAAAAA;
}

img.unselectedFlag {
	filter:alpha(opacity=50);
	-moz-opacity:.50;
	opacity:.50;
}

td.title {
	font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 400;
	color: #6a8fbd;
	font-size:28px;
}

div.titleMobile {
	font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 400;
	color: #6a8fbd;
	font-size:18px;
	vertical-align:bottom;
}

td.subtitle {
	font-weight: 100;
	color: #888888;
	font-size:24px;
}

td.toolbar {
	font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 200;
	color: #6a8fbd;
	font-size:14px;
	vertical-align:bottom;
}

td.titleTrack {
	font-size:24px;
	color: #888888;
}

div.titleTrackMobile {
	font-size:18px;
	color: #888888;
	vertical-align:bottom;
}

div.titleDate {
	font-size:28px;
	display: inline;
	vertical-align:bottom;
}

div.titleDateMobile {
	font-size:14px;
	vertical-align:bottom;
}

div.trackDesc {
	font-size:14px;
	vertical-align:top;
}

div.createAlbum {
  border-width: 2px;
  border-style: solid;
  border-color: #EEEEEE;
  background-color: #FFFFFF;
}

div.selectedCreateAlbum {
  border-width: 2px;
  border-style: solid;
  border-color: #6a8fbd;
  background-color: #FFFFFF;
}

div.thinborder {
	border-width: 1px;
	border-color: #888888;
	border-style: solid;
	background-color: #FFFFFF;
}

div.thickline {
  border-width: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: #EEEEEE;
}

div.window {
  border-width: 1px;
  border-color: #888888;
  border-style: solid;
  -moz-border-radius: 3px;
  background-color: #FFFFFF;
  filter:alpha(opacity=100);
  -moz-opacity:1.0;
  opacity:1.0;
  font-weight:bold;
  color: #444444;
}

div.innerwindow {
  position: relative; top: 20px;
  font-size:18px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  filter:alpha(opacity=100);
  -moz-opacity:1.0;
  opacity:1.0;
}

div.map {
  border-width: 0px;
  border-color: #FFFFFF;
  border-style: solid;
  background-color: #DDDDDD;
}

div.greenridge {
  border-width: 5px;
  border-color: green;
  border-style: ridge;
}

div.empurpledash {
  border-width: 0.5em;
  border-color: #800080;
  border-style: dashed;
}

div.loader {
  border-width: 1px;
  border-color: #888888;
  border-style: solid;
  background-color: #FFFFFF;
  filter:alpha(opacity=70);
  -moz-opacity:.70;
  opacity:.70;
  font-weight:bold;
  color: #FFFFFF;
  padding: 2px;
  text-decoration: blink;
}

div.statusload {
  border-width: 2px;
  border-color: #FFFFFF;
  border-style: dashed;
  font-weight:bold;
  color: #FFFFFF;
  text-decoration: blink;
  padding: 0px;
}

td.loadermsg {
	font-weight:bold;
	color: #000000;
}


div.direction {
  border-width: 1px;
  border-color: #888888;
  border-style: dashed;
  background-color: #FFFFFF;
  filter:alpha(opacity=80);
  -moz-opacity:.80;
  opacity:.80;
  color: #444444;
  padding: 0px;
}

div.tourtab {
	background-color: #FFFFFF;
}

div.activitytab {
	background-color: #FFFFFF;
	padding: 5px;
	border-bottom: solid 1px #AAAAAA;
	border-left: solid 1px #AAAAAA;
	border-right: solid 1px #AAAAAA;
}

div.addtour {
	background-color: #FFFFFF;
	padding: 1px;
}

div.choice {
	border-width: 1px;
	border-color: #AAAAAA;
	border-style: solid;
	background-color: #FFFFFF;
	padding: 2px;
}

div.formSuccess {
	-moz-border-radius: 3px;
	border-width: 1px;
	border-color: #339900;
	border-style: solid;
	background-color: #99FF99;
	padding: 5px;
	filter:alpha(opacity=80);
	-moz-opacity:.80;
	opacity:.80;
	color: #111111;
}

div.formError {
	-moz-border-radius: 3px;
	border-width: 1px;
	border-color: #990000;
	border-style: solid;
	background-color: #FF9999;
	padding: 5px;
	filter:alpha(opacity=80);
	-moz-opacity:.80;
	opacity:.80;
	color: #111111;
}


div.activityButton {
filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
  border-width: 5px;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  display: inline;
}

div.selactivityButton {
filter:alpha(opacity=100);
	-moz-opacity:1.0;
	opacity:1.0;
  border-width: 5px;
  border-color: #6a8fbd;;
  background-color: #AAAAAA;
  display: inline;
}

div.title-left { font-family: arial, helvetica; font-size: 26pt; color: #888888; display: inline; }
div.title-right { font-family: arial, helvetica; font-size: 26pt; color: #6A8FBD; display: inline; }

div.timeline-year { font-family: arial, helvetica; font-size: 24pt; color: #6A8FBD; display: inline; }
div.timeline-month { font-family: arial, helvetica; font-size: 14pt; color: #6A8FBD; display: inline; }

div.unit {
	font-size:10px;
	display: inline;
}

div.smallunit {
	font-size:8px;
	display: inline;
}

div.bigunit {
	font-size:16px;
	display: inline;
}

div {
	font-family:arial, helvetica;
	color: #444444;
	font-size:11px;
	font-weight:normal;
}

td {
	font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	color: #444444;
	font-size:14px;
	font-weight:400;
}

td.dataMedium {
	font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-size:24px;
	border-width: 0px;
	border-color: #AAAAAA;
	border-style: solid;
}

td.data {
	font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-size:28px;
	border-width: 0px;
	border-color: #AAAAAA;
	border-style: solid;
}

td.dataHuge {
	font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-size:64px;
	border-width: 0px;
	border-color: #AAAAAA;
	border-style: solid;
	text-align:center;
}

td.dataBig {
	font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
	font-size:32px;
	border-width: 0px;
	border-color: #AAAAAA;
	border-style: solid;
	text-align:center;
}

td.photoborder {
	border-width: 1px;
	border-color: #AAAAAA;
	border-style: solid;
}

td.thinborder {
	border-width: 1px;
	border-color: #FFFFFF;
	border-style: solid;
	background-color: #AAAAAA;
}

td.lightborder {
	border-width: 1px;
	border-color: #DDDDDD;
	border-style: solid;
}

td.photo {
	background-color: #FFFFFF;
	border-width: 1px;
	border-color: #888888;
}

div.windowtopbar {
  background-color: #6a8fbd; //#66B5FF #006699 #6a8fbd #5f9fff
  border-width: 0px;
  font-weight:bold;
  font-size:12px;
  color: #FFFFFF;
  position: relative; top: 0px; left: 0px; height: 25px; width: 100%
}

div.windowtopbargreen {
  background-color: #84b816; //#66B5FF #006699 #6a8fbd #5f9fff
  border-width: 0px;
  font-weight:bold;
  font-size:12px;
  color: #FFFFFF;
  position: relative; top: 0px; left: 0px; height: 25px; width: 100%
}

tr.tracksTableHeader {
	text-align: center;
	background-color: #DDDDDD;
}

td.tracksTable {
	text-align:center;
	font-size:12px;
	width:100px;
}

td.tracksTableIndex {
	font-size:14px;
}

td.windowtopbar {
  background-color: #6a8fbd; //#66B5FF #006699 #6a8fbd #5f9fff
  border-width: 0px;
  font-weight:bold;
  font-size:12px;
  color: #FFFFFF;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

td.windowlowerbar {
  background-color: #DDDDDD; //#66B5FF #006699 #6a8fbd #5f9fff
  border-width: 0px;
  font-weight:bold;
  font-size:12px;
  color: #444444;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

td.indextab {
	border-width: 1px;
	border-color: #888888;
	border-style: solid;
	background-color: #888888;
	color: #FFFFFF;
}

td.tab {
	border-width: 1px;
	border-color: #AAAAAA;
	border-style: solid;
	background-color: #6a8fbd;
	color: #FFFFFF;
	padding: 5px;
}

td.seltab {
	border-width: 0px;
	border-color: #AAAAAA;
	border-style: solid;
	background-color: #FFFFFF;
	color: #444444;
	padding: 5px;
	border-top: solid 1px #AAAAAA;
	border-left: solid 1px #AAAAAA;
	border-right: solid 1px #AAAAAA;
}

td.imgtab {
	border-width: 1px;
	border-color: #AAAAAA;
	border-style: solid;
	background-color: #DDDDDD;
}

td.imgseltab {
	color: #FFFFFF;
	border-top: solid 1px #AAAAAA;
	border-left: solid 1px #AAAAAA;
	border-right: solid 1px #AAAAAA;
}

td.playernum {
	font-weight:bold;
	font-size:16px;
	color: #DDDDDD;
}

td.playernumbig {
	font-weight:bold;
	font-size:18px;
	color: #DDDDDD;
}

td.playernumunit {
	font-size:16px;
	color: #BBBBBB;
}

tr.rowEven {
	background-color: #DDDDDD;
}

tr.rowOdd {
	background-color: #FFFFFF;
}

A:link {text-decoration: none; color: #444444;}
A:visited {text-decoration: none; color: #444444;}
A:active {text-decoration: none; color: #444444;}
A:hover {text-decoration: underline; color: #5f9fff;}

div.tourlist { font-size:11px; }

A:link.tourlist {text-decoration: none; color: #444444;}
A:visited.tourlist {text-decoration: none; color: #444444;}
A:active.tourlist {text-decoration: none; color: #444444;}
A:hover.tourlist {text-decoration: underline; color: #5f9fff;}

A:link.windowtopbar {text-decoration: none; color: #FFFFFF;}
A:visited.windowtopbar {text-decoration: none; color: #FFFFFF;}
A:active.windowtopbar {text-decoration: none; color: #FFFFFF;}
A:hover.windowtopbar {text-decoration: underline; color: #FFFFFF;}

A:link.button {text-decoration: none; color: #FFFFFF; border-width: 0px; background-color: #AAAAAA;}
A:visited.button {text-decoration: none; color: #FFFFFF; border-width: 0px; background-color: #AAAAAA;}
A:active.button {text-decoration: none; color: #FFFFFF; border-width: 0px; background-color: #AAAAAA;}
A:hover.button {text-decoration: none; color: #FFFFFF; border-width: 0px; background-color: #000000;}

A.seltab {text-decoration: none; color: #444444;}
A:hover.seltab {text-decoration: underline; color: #444444;}

A.tab {text-decoration: none; color: #FFFFFF;}
A:hover.tab {text-decoration: underline; color: #FFFFFF;}

A.activity {text-decoration: none; color: #FFFFFF; }
A:hover.activity {text-decoration: underline; color: #FFFFFF; }

A.selactivity {text-decoration: none; color: #444444; }
A:hover.selactivity {text-decoration: underline; color: #444444; }

A:link.activityButton {text-decoration: none; background-color: #444444; }
A:visited.activityButton  {text-decoration: none; background-color: #444444; }
A:active.activityButton  {text-decoration: none; background-color: #444444; 	}
A:hover.activityButton  {text-decoration: none; background-color: #444444; 	}

A:link.selactivityButton {text-decoration: none; background-color: #FFFFFF; 	}
A:visited.selactivityButton  {text-decoration: none; background-color: #FFFFFF; 	 }
A:active.selactivityButton  {text-decoration: none; background-color: #FFFFFF; 	}
A:hover.selactivityButton  {text-decoration: none; background-color: #FFFFFF; 	 }

A:link.formbutton {text-decoration: none; color: #6a8fbd; border-width: 1px; border-color: #6a8fbd; border-style: solid; background-color: #EEEEEE; padding:5px; padding-left:25px; padding-right:25px}
A:visited.formbutton {text-decoration: none; color: #6a8fbd; border-width: 1px; border-color: #6a8fbd; border-style: solid; background-color: #EEEEEE; padding:5px; padding-left:25px; padding-right:25px}
A:active.formbutton {text-decoration: none; color: #6a8fbd; border-width: 1px; border-color: #6a8fbd; border-style: solid; background-color: #EEEEEE; padding:5px; padding-left:25px; padding-right:25px}
A:hover.formbutton {text-decoration: underline; color: #6a8fbd; border-width: 1px; border-color: #6a8fbd; border-style: solid; background-color: #DDDDDD; padding:5px; padding-left:25px; padding-right:25px}

A:link.formbuttonbig {text-decoration: none; font-size : 14px; color: #6a8fbd; border-width: 1px; border-color: #6a8fbd; border-style: solid; background-color: #EEEEEE; padding:15px; padding-left:25px; padding-right:25px}
A:visited.formbuttonbig {text-decoration: none; font-size : 14px; color: #6a8fbd; border-width: 1px; border-color: #6a8fbd; border-style: solid; background-color: #EEEEEE; padding:15px; padding-left:25px; padding-right:25px}
A:active.formbuttonbig {text-decoration: none; font-size : 14px; color: #6a8fbd; border-width: 1px; border-color: #6a8fbd; border-style: solid; background-color: #EEEEEE; padding:15px; padding-left:25px; padding-right:25px}
A:hover.formbuttonbig {text-decoration: underline; font-size : 14px; color: #6a8fbd; border-width: 1px; border-color: #6a8fbd; border-style: solid; background-color: #DDDDDD; padding:15px; padding-left:25px; padding-right:25px}

A:link.photothumb {text-decoration: none; color: #AAAAAA; background-color: #FFFFFF; border-color: #444444; padding: 1px; }
A:visited.photothumb{text-decoration: none; color: #AAAAAA; background-color: #FFFFFF; border-color: #444444; padding: 1px;}
A:active.photothumb {text-decoration: none; color: #AAAAAA; background-color: #FFFFFF; border-color: #444444; padding: 1px;}
A:hover.photothumb {text-decoration: underline; color: #5f9fff; background-color: #FFFFFF; border-width: 2px; border-color: #6a8fbd; padding: 0px;}

img.formimgbutton {text-decoration: none; color: #6a8fbd; border-width: 1px; border-color: #6a8fbd; border-style: solid; background-color: #EEEEEE; padding:1px; height:30px}

img.photothumb { padding: 3px; border-width: 1px; }
img.button {border-width: 0px;}

input {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	height:18px;
	color: #444444;
}
select {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #444444;
}
button
{
	color: white;
	background: #8C969B;
	border: 2px #9cf outset;
	height:18px;
}

input[type="text"] {
  display: inline;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  height:25px;
  padding:5px 5px;
}
input[type="text"]:focus {
  outline: none;
}
input[type="select"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  height:25px;
  padding:5px 5px;
}

#menu, #menu ul /* Liste */
{
        padding : 0; /* pas de marge intérieure */
        margin : 0; /* ni extérieure */
        list-style : none; /* on supprime le style par défaut de la liste */
        line-height : 46px; /* on définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
}

#menu /* Ensemble du menu */
{
        font-family:"Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
		font-weight: 400;
		color: #EEEEEE;
		font-size:24px;
}

#menu a /* Contenu des listes */
{
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
        padding : 0; /* aucune marge intérieure */
        background : #6a8fbd; /* couleur de fond */
        color : #fff; /* couleur du texte */
        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
        width : 200px; /* largeur */
		height : 46px;
}

#menu li /* Elements des listes */
{
        float : left;
        /* pour IE qui ne reconnaît pas "transparent" */
        border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */
}

/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li
{
        border-right: 1px solid transparent ; /* on met une bordure transparente à droite de chaque élément */
}

#menu li ul /* Sous-listes */
{
        position: absolute; /* Position absolue */
        width: 200px; /* Largeur des sous-listes */
		height : 46px;
        left: -999em; /* Hop, on envoie loin du champ de vision */
}


#menu li ul li /* Éléments de sous-listes */
{
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous liste */
}

/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li ul li
{
        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */
}

#menu li ul ul
{
        margin    : -46px 0 0 200px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-left     : 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */
}

/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
html>body #menu li ul ul
{
        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */
}

#menu a:hover /* Lorsque la souris passe sur un des liens */
{
        color: #6a8fbd; /* On passe le texte en noir... */
        background: #fff; /* ... et au contraire, le fond en blanc */
}

#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
{
        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}
